@import 'partials/_material-clr.scss';

$clr-primary: $clr-blue;
$clr-primary-50: $clr-blue-50;
$clr-primary-100: $clr-blue-100;
$clr-primary-200: $clr-blue-200;
$clr-primary-300: $clr-blue-300;
$clr-primary-400: $clr-blue-400;
$clr-primary-500: $clr-blue-500;
$clr-primary-600: $clr-blue-600;

$clr-secondary: $clr-pink;
$clr-secondary-50: $clr-pink-50;
$clr-secondary-100: $clr-pink-100;
$clr-secondary-200: $clr-pink-200;
$clr-secondary-300: $clr-pink-300;
$clr-secondary-400: $clr-pink-400;
$clr-secondary-500: $clr-pink-500;
$clr-secondary-600: $clr-pink-600;

$clr-warn: $clr-orange;
$clr-warn-50: $clr-orange-50;
$clr-warn-100: $clr-orange-100;
$clr-warn-200: $clr-orange-200;
$clr-warn-300: $clr-orange-300;
$clr-warn-400: $clr-orange-400;
$clr-warn-500: $clr-orange-500;
$clr-warn-600: $clr-orange-600;

$clr-accent: $clr-teal-a700;
$clr-accent-50: $clr-teal-50;
$clr-accent-100: $clr-teal-100;
$clr-accent-200: $clr-teal-200;
$clr-accent-300: $clr-teal-300;
$clr-accent-400: $clr-teal-400;
$clr-accent-500: $clr-teal-500;
$clr-accent-600: $clr-teal-600;

$clr-ui-grey: $clr-blue-grey-50;
