<md-toolbar layout-padding layout-align="center start">
        <span class="md-title">{{workoutDetail.workout.name}}</span>
</md-toolbar>

<h3 class="md-headline" layout-padding>Exercises</h3>

<md-card ng-repeat="superset in workoutDetail.workout.exercises">
    <div class="superset" ng-repeat="exercise in superset">
        <md-content layout-padding>
            <h4 class="md-subheading">{{exercise.name}}</h4>
            <md-chips>
                <md-chip>
                    <strong>sets:</strong> {{exercise.sets}}
                </md-chip>
                <md-chip>
                    <strong>reps:</strong>
                    <span ng-if="!exercise.repMin">Max {{exercise.repMax}}</span>
                    <span ng-if="!exercise.repMax">At least {{exercise.repMin}}</span>
                    <span ng-if="exercise.repMin && exercise.repMax">{{exercise.repMin}} - {{exercise.repMax}}</span>
                </md-chip>
                <md-chip ng-class="{'md-accent': exercise.maxWeight, 'md-primary': !exercise.maxWeight}">
                    <span ng-if="exercise.maxWeight">
                        <md-icon md-svg-icon="av:ic_new_releases_24px">PB:</md-icon> {{exercise.maxWeight}}kg
                    </span>
                    <span ng-if="!exercise.maxWeight">
                        NEW
                    </span>
                </md-chip>
            </md-chips>
        </md-content>
        <md-divider ng-if="!$last"></md-divider>
    </div>
</md-card>


<h3 class="md-headline" layout-padding>Workout History</h3>
