md-button,
.md-button {
    margin-left: 0;
    margin-right: 0;
    md-list-item &,
    .md-list-item &,
    &.md-fab {
        margin: 0;
    }
}
md-button,
.md-button {
    &, &.md-fab {
        &.md-inverse {
            background: $clr-ui-grey;
            md-icon {
                color: currentColor !important;
            }
            &:hover,
            &:active {
                color: #fff !important;
            }
            &.md-primary {
                color: $clr-primary-500;
            }
            &.md-secondary {
                color: $clr-secondary-500;
            }
            &.md-accent {
                color: $clr-accent-500;
            }
            &.md-warn {
                color: $clr-warn-500;
            }
        }
    }
}
