md-chips {
    md-chip,
    .md-chip {
        background: $clr-ui-grey;
        &.md-accent {
            background: $clr-accent;
            color: white;
        }
    }
    .md-chips {
        box-shadow: none;
    }
}
