md-chips {
    md-chip {
        background: $clr-ui-grey;
        &.md-accent,
        &.md-primary {
            color: #fff;
        }
        &.md-accent {
            background: $clr-accent;
        }
        &.md-primary {
            background: $clr-primary;
        }
        md-icon {
            color: inherit;
            vertical-align: text-bottom;
            height: 20px;
            position: relative;
            top: 1px;
            margin-left: -6px;
        }
    }
    .md-chips {
        box-shadow: none;
    }
}
